/* .card-text { 
    border-radius: 5px;
    background-color: rgb(202, 202, 202);
    font-size: small;
    padding: 10px;
    font-style: italic;
}

.card-body {
    background-color: rgb(79, 79, 79);
    border-radius: 5px;

}

.card-title {
    background-color: aliceblue;
    border-radius: 5px;
    text-align: center;
    font-weight: 700;
} */



/*.earth{
    background-color: black;
    color: rgb(49, 190, 49);
    text-align: center;
    font-style: italic;
    border-radius: 5px;
}

.sun{
    background-color: black;
    color: rgb(229, 103, 44);
    text-align: center;
    font-style: italic;
    border-radius: 5px;
}

.moon{
    background-color: black;
    color: rgb(195, 195, 54);
    text-align: center;
    font-style: italic;
    border-radius: 5px;
}

.para{
    background-color: rgb(160, 117, 200);
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    border-radius: 5px;
    padding: 15px;
}